@charset "UTF-8";

@font-face {
  font-family: "glyph";
  src:url("fonts/glyph.eot");
  src:url("fonts/glyph.eot?#iefix") format("embedded-opentype"),
    url("fonts/glyph.woff") format("woff"),
    url("fonts/glyph.ttf") format("truetype"),
    url("fonts/glyph.svg#glyph") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "glyph" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "glyph" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-glyph-gear:before {
  content: "\61";
}
.icon-glyph-gear-alt:before {
  content: "\62";
}
.icon-glyph-fastfwd:before {
  content: "\63";
}
.icon-glyph-fastfwd-alt:before {
  content: "\64";
}
.icon-glyph-pause:before {
  content: "\65";
}
.icon-glyph-pause-alt:before {
  content: "\66";
}
.icon-glyph-play:before {
  content: "\67";
}
.icon-glyph-play-alt:before {
  content: "\68";
}
.icon-glyph-rewind:before {
  content: "\69";
}
.icon-glyph-rewind-alt:before {
  content: "\6a";
}
.icon-glyph-back:before {
  content: "\6b";
}
.icon-glyph-back-alt:before {
  content: "\6c";
}
.icon-glyph-forward:before {
  content: "\6d";
}
.icon-glyph-forward-alt:before {
  content: "\6e";
}
.icon-glyph-controls-alt:before {
  content: "\6f";
}
.icon-glyph-controls:before {
  content: "\70";
}
.icon-glyph-redo:before {
  content: "\71";
}
.icon-glyph-redo-alt:before {
  content: "\72";
}
.icon-glyph-undo:before {
  content: "\73";
}
.icon-glyph-undo-alt:before {
  content: "\74";
}
.icon-glyph-sun:before {
  content: "\75";
}
.icon-glyph-sun-alt:before {
  content: "\76";
}
.icon-glyph-moon:before {
  content: "\77";
}
.icon-glyph-moon-alt:before {
  content: "\78";
}
.icon-glyph-sound-on:before {
  content: "\79";
}
.icon-glyph-sound-mute:before {
  content: "\7a";
}
.icon-glyph-player:before {
  content: "\41";
}
.icon-glyph-player-alt:before {
  content: "\42";
}
.icon-glyph-eye:before {
  content: "\43";
}
.icon-glyph-eye-alt:before {
  content: "\44";
}
.icon-glyph-science:before {
  content: "\45";
}
.icon-glyph-science-alt:before {
  content: "\46";
}
.icon-glyph-fire:before {
  content: "\47";
}
.icon-glyph-fire-alt:before {
  content: "\48";
}
.icon-glyph-arrow-down:before {
  content: "\49";
}
.icon-glyph-arrow-left:before {
  content: "\4a";
}
.icon-glyph-arrow-right:before {
  content: "\4b";
}
.icon-glyph-arrow-up:before {
  content: "\4c";
}
.icon-glyph-electricity:before {
  content: "\4d";
}
.icon-glyph-electricity-alt:before {
  content: "\4e";
}
.icon-glyph-screenshot:before {
  content: "\4f";
}
.icon-glyph-screenshot-alt:before {
  content: "\50";
}
.icon-glyph-pin:before {
  content: "\51";
}
.icon-glyph-pin-alt:before {
  content: "\52";
}
.icon-glyph-fluid:before {
  content: "\53";
}
.icon-glyph-contract:before {
  content: "\54";
}
.icon-glyph-expand:before {
  content: "\55";
}
.icon-glyph-tick:before {
  content: "\56";
}
.icon-glyph-cross:before {
  content: "\57";
}
.icon-glyph-target:before {
  content: "\58";
}
.icon-glyph-select:before {
  content: "\59";
}
.icon-glyph-fuel:before {
  content: "\5a";
}
.icon-glyph-selection-alt:before {
  content: "\30";
}
.icon-glyph-selection:before {
  content: "\31";
}
.icon-glyph-jet:before {
  content: "\32";
}
.icon-glyph-leaf:before {
  content: "\33";
}
.icon-glyph-repair:before {
  content: "\34";
}
.icon-glyph-surface:before {
  content: "\35";
}
.icon-glyph-surface-alt:before {
  content: "\36";
}
.icon-glyph-spanner:before {
  content: "\37";
}
.icon-glyph-thermometer:before {
  content: "\38";
}
.icon-glyph-scissors:before {
  content: "\39";
}
.icon-glyph-search:before {
  content: "\21";
}
.icon-glyph-alt-target:before {
  content: "\22";
}
.icon-glyph-nav:before {
  content: "\23";
}
.icon-glyph-map:before {
  content: "\24";
}
.icon-glyph-refresh:before {
  content: "\25";
}
.icon-glyph-login:before {
  content: "\26";
}
.icon-glyph-logout:before {
  content: "\27";
}
.icon-glyph-circle-plus:before {
  content: "\28";
}
.icon-glyph-circle-plus-alt:before {
  content: "\29";
}
.icon-glyph-plus:before {
  content: "\2a";
}
.icon-glyph-circle-minus:before {
  content: "\2b";
}
.icon-glyph-circle-minus-alt:before {
  content: "\2c";
}
.icon-glyph-minus:before {
  content: "\2d";
}
.icon-glyph-tag:before {
  content: "\2e";
}
.icon-glyph-tag-alt:before {
  content: "\2f";
}
.icon-glyph-windows:before {
  content: "\3a";
}
.icon-glyph-windows-alt:before {
  content: "\3b";
}
.icon-glyph-flag:before {
  content: "\3c";
}
.icon-glyph-flag-alt:before {
  content: "\3d";
}
.icon-glyph-circle-close:before {
  content: "\3e";
}
.icon-glyph-circle-close-alt:before {
  content: "\3f";
}
.icon-glyph-close:before {
  content: "\40";
}
.icon-glyph-circle-check:before {
  content: "\5b";
}
.icon-glyph-circle-check-alt:before {
  content: "\5d";
}
.icon-glyph-check:before {
  content: "\5e";
}
.icon-glyph-circle:before {
  content: "\5f";
}
.icon-glyph-circle-alt:before {
  content: "\60";
}
.icon-glyph-wave:before {
  content: "\7b";
}
.icon-glyph-wave-alt:before {
  content: "\7c";
}
.icon-glyph-hammer:before {
  content: "\7d";
}
.icon-glyph-edit:before {
  content: "\7e";
}
.icon-glyph-nav-alt:before {
  content: "\5c";
}
.icon-glyph-mountain:before {
  content: "\e000";
}
.icon-glyph-more-vertical:before {
  content: "\e001";
}
.icon-glyph-more-horizontal:before {
  content: "\e002";
}
.icon-glyph-radio-off:before {
  content: "\e003";
}
.icon-glyph-radio-on:before {
  content: "\e004";
}
.icon-glyph-radio-check:before {
  content: "\e005";
}
.icon-glyph-checkbox:before {
  content: "\e006";
}
.icon-glyph-checkbox-alt:before {
  content: "\e007";
}
.icon-glyph-square:before {
  content: "\e008";
}
.icon-glyph-square-alt:before {
  content: "\e009";
}
.icon-glyph-biter:before {
  content: "\e00a";
}
